.home{
    margin: 0 18%;
    margin-right: 33%;
    margin-top: 50px;


    .item{
        display: flex;
        justify-content: flex-start;
        
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 50px;
    }
}